* {
            padding: 0;
            margin: 0;
        }

body {
            background-color: darkblue;
        }


canvas {
            background: #000000;
            border: #fbff00 solid 1px;
            display: block;
            margin: 0 auto;
        }
